body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-left: 15px;
}

header {
  background-color: blanchedalmond;
}

header ul {
  display: flex;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

ul li {
  margin-left: 20px;
  color: black;
}

ul a {
  text-decoration: none;
}

form label {
  font-weight: bold;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: black;
}