
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carta Restaurante</title>
  <link rel="stylesheet" href="/stylesheets/carta.css">
</head>
<body>
  <header>
    <h1>Nuestro Restó</h1>
    <h2>Carta</h2>
    <a id="arriba"></a>
  </header>
  <aside>
    <nav>
      <ul>
        <a href="#entradas"><li>Entradas</li></a>
        <a href="#platospples"><li>Platos principales</li></a>
        <a href="#ensaladas"><li>Ensaladas</li></a>
        <a href="#raws"><li>Raws</li></a>
        <a href="#postres"><li>Postres</li></a>
        <a href="#desayunoymeriendas"><li>Desayuno y meriendas</li></a>
        <a href="#bebidas"><li>Bebidas</li></a>
        <a href="#smoothies"><li>Smoothies</li></a>
        <a href="#teycafe"><li>Te y Café</li></a>
        <a href="#vinos"><li>Vinos</li></a>
        <a href="#cervezas"><li>Cervezas</li></a>
      </ul>
    </nav>
  </aside>
  <main>
    <section>
      <a id="entradas"></a>
      <h3>Entradas</h3>
      <img src="/images/foto-entradas.jpg" alt="entradas">
      <ul>
        <li> <strong> Muzzarella Sticks </strong> <br>
          Bastones de muzzarella rebozados</li> <br>
        <li><strong> Jalapeños rellenos </strong> <br>
          Jalapeños rellenos de langostinos y queso Cheddar con panceta.</li> <br>
        <li><strong>Ración de Rabas </strong> <br>
          220 gr. de chicharrón de calamar frito con alioli</li> <br>
        <li><strong>Ración de papas fritas con Cheddar y verdeo</strong></li> <br>
        <li><strong>Chicken Wings</strong> <br>
          Alitas de pollo empanada y frita con salsa BBQ</li> <br>
        <li><strong>Croquetas de hongos</strong> <br>
          Croquetas elaboradas a base de hongos disecados.</li> <br>
        <li><strong>Langostinos en cous cous</strong> <br>
          Langostinos a la plancha con frutos secos, tomates cherry, albahaca y cous cous</li> <br>
        <li><strong>Chipirones a la plancha</strong> <br>
          Con chutney de mango y sandía a la plancha</li> <br>
        <li><strong>Nachos con refrito</strong> <br>
          Nachos salteados con porotos negros, chorizo colorado y salsa BBQ</li> <br>
        <li><strong>Tapa de morcilla</strong> <br>
          Pan casero de campo, morcilla, verdeo y queso brie.</li> <br>
        <li><strong>Tapa de campo</strong> <br>
          Morcilla, papa, chutney de manzana y crema de eneldo</li> <br>
        <li><strong>Tapa de mollejas</strong> <br>
          Mollejas con mango, ananá, jengibre, chiles y pochoclo.</li> <br>
      </ul>
      
      <a href="#arriba">Volver arriba</a>
    </section>
    <section>
      <br> <a id="platosppales"></a>
      <h3>Platos principales</h3>
      <img src="/images/foto-ppal.jpg" alt="plato principal">
      <ul>
        <li><strong>Bife Criollo</strong> <br>
          Ojo de bife con patines andinos, ensalada de rúcula, provolone y salsa criolla</li> <br>
        <li><strong>Ensalada Caesar</strong> <br>
          Con langostinos o con Pollo <br>
          Clásica Caesar Salad con pollo grillado o langostinos</li> <br>
        <li><strong>Penne Rigatte</strong> <br>
          Con salsa filete, crema o rosa.</li> <br>
        <li><strong>Ensalada de langostinos</strong> <br>
          Langostinos salteados, trabajito, cebolla de verdeo y mango con dressing de naranja, vinagre y aceite de oliva.</li> <br>
        <li><strong>Ceviche (elaborado en el momento)</strong> <br>
          Pesca del día del barrio chino con cebolla morada, ajo, rocoto, apio, cilantro, jengibre, maíz cancha, batata y leche de tigre.</li> <br>
        <li><strong>Pesca con Chop Suey</strong> <br>
          Pesca del día a la plancha con olivas, ajo y alcaparras, acompañada de chop suey de vegetales.</li> <br>
        <li><strong>Pesca a la plancha</strong> <br>
          Con risotto verde de espárragos y remolacha asada.</li> <br>
        <li><strong>Bife T-Bone</strong> <br>
          600 grs de carne corte T-Bone con chimichurri, patines andinos y encurtido de remolacha.</li> <br>
        <li><strong>Pechuguitas Ahumadas</strong> <br>
          Pechugas de pollo ahumadas, rellenas con duxelle de hongos y cebolla. Servido con arroz con mostaza y naranjas almendradas</li> <br>
        <li><strong>Carré de cerdo</strong> <br>
          Con Chutney de zanahorias y batatas glaseadas con salsa teriyaki.</li> <br>
        <li><strong>Sorrentinos verdes</strong> <br>
          Rellenos con calabaza asada y queso brie, perfumados con manteca de hierbas y jugo de pomelo.</li> <br>
      </ul>
      
      <a href="#arriba">Volver arriba</a>
    </section>
    <section>
      <br> <a id="postres"></a>
      <h3>Postres</h3>
      <img src="/images/foto-postre.jpg" alt="postres">
      <ul>
        <li><strong>Flan Casero</strong> <br>
          Nuestro clásico flan con dulce de leche y crema.</li> <br>
        <li><strong>Ensalada de frutas</strong></li> <br>
        <li><strong>Fondue de chocolate</strong> <br>
          Con frutas frescas fileteadas.</li> <br>
        <li><strong>Crocante de Banana y Nutella</strong></li> <br>
        <li><strong>Degustación de Mousses</strong> <br>
          Mousse de mango, chocolate, moka y frutos rojos.</li> <br>
        <li><strong>Cheesecake</strong></li> <br>
      </ul>
      
      <a href="#arriba">Volver arriba</a>
    </section>
    <section>
      <a id="bebidas"></a>
     <br> <h3>Bebidas</h3>
      <ul>
        <li><strong>Gaseosas</strong></li> <br>
        <li><strong>Agua</strong></li> <br>
        <li><strong>Agua saborizada</strong></li> <br>
        <li><strong>Vinos</strong></li> <br>
        <li><strong>Cerveza</strong></li> <br>
        <li><strong>Espumante</strong></li> <br>
        <li><strong>Te</strong></li> <br>
        <li><strong>Café</strong></li> <br>
      </ul>
      <a href="#arriba">Volver arriba</a>
    </section>
  </main>
  <footer>
      <div class="logo">
        <img src="/images/logo-web.png" alt="logo restaurante">
      </div>
      <div class="rrss">
        <ul>
          <a href="/contacto"><li>Contacto</li></a> <br>
          <a href="https://www.facebook.com"><li>Facebook</li></a>
          <a href="https://www.twitter.com"><li>Twitter</li></a>
          <a href="https://www.instagram.com"><li>Instagram</li></a>
        </ul>
      </div>
  </footer>
</body>
</html>