<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/about.css' />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&family=Work+Sans&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        | <a href="/">Home</a>
        | <a href="/about">About</a>
        | <a href="/music">Music</a>
        | <a href="/contact">Contact</a>
        | <a href="/register">Register</a>
    </header>
    <br>
    <div>
        <img src="/images/twitter.png" alt="logo twitter" class="logo">
        <img src="/images/facebook.png" alt="logo facebook" class="logo">
        <img src="/images/instagram.png" alt="logo instagram" class="logo">
        <img src="/images/linkedin.png" alt="logo linkedin" class="logo">
        <img src="/images/whatsapp.png" alt="los whatsapp" class="logo">
    </div>


    <h1>ABOUT <br> EMILIA //</h1>

    <p class="frase">"Seattle-based pop star makes her <br> indie debut with a hauntingly beautiful album"</p>
    <p class="cita">- John Tirckle, Music Today Post</p>
    
    <p class="frase">"Emilia Cole is one of <br> the scene's breakout stars"</p>
    <p class="cita">- John Tirckle, Music Today Post</p>


    
</body>
</html>