<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel='stylesheet' href='/stylesheets/contact.css' />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&family=Work+Sans&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <a id="gotop"></a>
        <a href="/" class="head">Home</a>
        <a href="/about" class="head">About</a>
        <a href="/music" class="head">Music</a>
        <a href="/contact" class="head">Contact</a>
        <a href="/register" class="head regist">Register</a>
    <br>
        <img src="/images/twitter.png" alt="logo twitter" class="logo">
        <img src="/images/facebook.png" alt="logo facebook" class="logo">
        <img src="/images/instagram.png" alt="logo instagram" class="logo">
        <img src="/images/linkedin.png" alt="logo linkedin" class="logo">
        <img src="/images/whatsapp.png" alt="los whatsapp" class="logo">
    </header>

    <h1>CONTACT //</h1>
    <h3>Direct Link</h3>
    <ul>
        <a href="#wearehere"><li>We are here</li></a>
        <a href="#contactinfo"><li>Contact info</li></a>
        <a href="#formcontact"><li>Form Contact</li></a>
    </ul>

    <h2>WE ARE HERE</h2>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5815.038561980901!2d-58.44637675953346!3d-34.547820051670094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb436efe09303%3A0xfb39818e7624ac76!2sDigital%20House!5e0!3m2!1ses!2sar!4v1598133214889!5m2!1ses!2sar" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    <h5><a href="#gotop" class="links">Go top</a></h5>

    <h2>CONTACT INFO</h2>

    <p>
        MANAGEMENT | Karen Blanche
        email: <a href="mailto:info@mysite.com">info@mysite.com</a> <br>
        phone: 123-456-7890 <br>
        BOOKING | Daniel Ku <br>
        email: <a href="mailto:info@mysite.com">info@mysite.com</a>  <br>
        phone: 123-456-7890 <br>
        LABEL | Wix Records, Jake Coldham <br>
        email: <a href="mailto:info@mysite.com">info@mysite.com</a> <br>
        phone: 123-456-7890 <br>
        PR | That Girl Pr, Sarah Brookstone <br>
        email: <a href="mailto:info@mysite.com">info@mysite.com</a> <br>
        phone: 123-456-7890 <br>
    </p>

    <h5><a href="#gotop" class="links">Go top</a></h5>

    <footer></footer>

</body>
</html>