<!DOCTYPE html>
<html>
  <head>
    <title>Emilia Cole</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&family=Work+Sans&display=swap" rel="stylesheet">

  </head>
  <body>
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/about"><li>About</li></a>
        <a href="/music"><li>Music</li></a>
        <a href="/contact"><li>Contact</li></a>
        <a href="/register"><li>Register</li></a>
        <br>
     <li> <img src="/images/twitter.png" alt="logo twitter" class="logo">
      <img src="/images/facebook.png" alt="logo facebook" class="logo">
      <img src="/images/instagram.png" alt="logo instagram" class="logo">
      <img src="/images/linkedin.png" alt="logo linkedin" class="logo">
      <img src="/images/whatsapp.png" alt="los whatsapp" class="logo"> </li>
    </ul>
    <br><br><br>
    <h2 class="emilia">EMILIA <br> COLE//</h2>
    <br><br><br><br>
    <h1 class="titulo">TWIST IN MY REALITY</h1>


    
  </body>
</html>
