<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel='stylesheet' href='/stylesheets/music.css' />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

</head>
<body>
    <header>
        <a id="gotop"></a>
        <a href="/" class="head">Home</a>
        <a href="/about" class="head">About</a>
        <a href="/music" class="head">Music</a>
        <a href="/contact" class="head">Contact</a>
        <a href="/register" class="head regist">Register</a>
    <br>
        <img src="/images/twitter.png" alt="logo twitter" class="logo">
        <img src="/images/facebook.png" alt="logo facebook" class="logo">
        <img src="/images/instagram.png" alt="logo instagram" class="logo">
        <img src="/images/linkedin.png" alt="logo linkedin" class="logo">
        <img src="/images/whatsapp.png" alt="los whatsapp" class="logo">
    </header>

    <h1>MUSIC //</h1>
    <h3>Direct Link</h3>
    <ul>
        <a href="#album" class="links"><li>Album</li></a>
        <a href="" class="links"><li>Video: Organic Love</li></a>
        <a href="" class="links"><li>Video: Street Light</li></a>
    </ul>

    <a id="album"></a>
    <h2>ALBUM</h2>
    <h2>TWIST IN MY REALITY</h2>
    <img src="/images/emilia-play-list.png" alt="play list" class="imagen">
    <a href="" class="links"><li>01 <i class="fas fa-play"></i> Organic Love | 02:40</li></a>
    <a href="" class="links"><li>02 <i class="fas fa-play"></i> Twist in my reality | 02:10</li></a>
    <a href="" class="links"><li>03 <i class="fas fa-play"></i> Street Light | 03:28</li></a>
    <a href="" class="links"><li>04 <i class="fas fa-play"></i> Love Don't Live Here Anymore (Cover) | 03:49</li></a>

    <h5><a href="#gotop" class="links">Go top</a></h5>

    <h2>VIDEO</h2>
    <h2>ORGANIC LOVE</h2>
    <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

    <p>Directed by VINCE MALC & EMILIA COLE <br>
        Edited and Filmed by NICOLAS TROY <br>
        Produced by NIKI HEART, <br>
        Wix Films LTD. </p>

    <h5><a href="#gotop" class="links">Go top</a></h5>

    <h2>VIDEO</h2>
    <h2>STREET LIGHT</h2>
    <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

    <p>Directed by VINCE MALC & EMILIA COLE <br>
    Edited and Filmed by NICOLAS TROY <br>
    Produced by NIKI HEART, <br>
    Wix Films LTD. </p>

    <h5><a href="#gotop" class="links">Go top</a></h5>

    <footer></footer>

</body>
</html>