<!DOCTYPE html>
<html>
  <head>
    <title>Emilia Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>
      <img src="/images/emilia-home.jpg" alt="imagen home">
      
        <a href="/">HOME</a> <br>
        <a href="about">ABOUT</a> <br>
        <a href="music">MUSIC</a> <br>
        <a href="contact">CONTACT</a> <br>
      <!--    <i class="fab fa-twitter"></i>
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-spotify"></i>
          <i class="fab fa-apple"></i>
          <i class="fab fa-amazon"></i>
          <i class="fab fa-instagram"></i> -->

      <br><br><br><br><br>
      EMILIA <br> COLE//
      <br><br><br><br><br>
      TWIST IN MY REALITY
      
    </p>
  </body>
</html>
