<%- include('./header')%>

    <form action="/actors/create" method="POST">
        <label for="">Nombre</label> <br>
        <input type="text" name="first_name"> <br>
        <label for="">Apellido</label> <br>
        <input type="text" name="last_name"> <br>
        <label for="">Rating</label> <br>
        <input type="text" name="rating"> <br>
        <button type="submit">Crear</button>
    </form>
</body>
</html>