<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
<header>
    <ul>
       <a href="/movies">
           <li>Listado Peliculas</li>
       </a>
       <a href="/actors">
           <li>Listado actores</li>
       </a>
       <a href="/genres">
           <li> Listado Generos</li>
       </a>
       <a href="/movies/create">
           <li> Crear Pelicula</li>
       </a>
       <a href="/actors/create">
           <li>Crear Actor</li>
       </a>
       <a href="/movies/agregarRelacion">
        <li>Relacion Actor-Pelicula</li>
    </a>
    </ul>
</header>