<%- include('./header')%>

    <h1>Listado de actores</h1>
    <ul>
        <%for (let i=0 ; i < actores.length ; i++) {%>
           <a href="/actors/detail/<%=actores[i].id%>"> <li><%=actores[i].first_name%>  <%=actores[i].last_name%></li> </a>
        <% } %>
    </ul>

    <form action="/actors/search" method="POST">
        <input type="text" name="busqueda" placeholder="Buscar actores por nombre">
        <button type="submit">Buscar</button>
    </form>
</body>
</html>