<%- include('./header')%>

    <h1>Busqueda peliculas</h1>
    <ul>
        <%for (let i=0 ; i < peliculas.length ; i++) {%>
           <a href="/movies/detail/<%=peliculas[i].id%>"> <li><%=peliculas[i].title%></li> </a>
        <% } %>
    </ul>

</body>
</html>